<!DOCTYPE html>
<html>
  {% load static %}
    <head>
      <link rel="stylesheet" href="{% static 'appQuat/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'appQuat/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'appQuat/css/quat.css' %}">
      <script src="{% static 'appQuat/js/jquery.min.js' %}"></script>
      <script src="{% static 'appQuat/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'appQuat/js/jquery.validate.js' %}"></script>
        <script>
          $(function() 
          {
            $("#eugen").click(function(){
              $('#modal-eugen').modal()
            });
            $("#yamato").click(function(){
              $('#modal-yamato').modal()
            });
            $("#scharnhorst").click(function(){
              $('#modal-scharnhorst').modal()
            });
            
            $("#graf").click(function(){
              $('#modal-graf').modal()
            });
            $("#hood").click(function(){
              $('#modal-hood').modal()
            });
            $("#moreno").click(function(){
              $('#modal-moreno').modal()
            });
        }); 
    
      </script>
    </head>
    <body>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-moreno">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="moda-header">
        <h4>
          ARA Moreno
        </h4>
      </div>
      <div class="modal-body">
        <p>
          acorazado argentino clase dreadnought, precio visita guiada=20.000$, lunes a viernes de 8 de la manana a 9 de la tarde.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-eugen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="moda-header">
        <h4>
          Prinz Eugen
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Crucero Aleman clase Almirante Hipper, precio visita guiada=15.000$, lunes a viernes de 8 de la manana a 9 de la tarde.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-yamato">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="moda-header">
        <h4>
         Yamato
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Acorazado Japones clase Yamato, precio visita guiada=60.000$, lunes a viernes de 8 de la manana a 9 de la tarde.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-scharnhorst">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="moda-header">
        <h4>
          Scharnhorst
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Acorazado Aleman clase gneisenau, precio visita guiada=40.000$, lunes a viernes de 8 de la manana a 9 de la tarde.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-graf">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="moda-header">
        <h4>
          Graf Spee
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Crucero Aleman clase Panzerschiff, precio visita guiada=15.000$, lunes a viernes de 8 de la manana a 9 de la tarde.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-hood">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="moda-header">
        <h4>
          HMS hood
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Acorazado Britanico clase Almirante, precio visita guiada=40.000$, lunes a viernes de 8 de la manana a 9 de la tarde.
        </p>
      </div>
    </div>
  </div>
</div>
        <!-- MENU -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Astillero Quat</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="/barcos">Barcos</a></li>
              </ul>
            </div>
        </nav>

        <div class="container">
          <h2>Galería</h2>

          <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="#">
                  <img src="{% static 'appQuat/img/moreno.jfif' %}" id="moreno" width="304" height="236">
                  <div class="caption">
                    <p> ARA Moreno</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="#">
                  <img src="{% static 'appQuat/img/scharnhorst.jfif' %}" id="scharnhorst" onclick=""  width="304" height="236">
                  <div class="caption">
                    <p> Scharnhorst</p>
                  </div>
                </a> 
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="#">
                  <img src="{% static 'appQuat/img/graf.jfif' %}" id="graf" onclick="" width="304" height="236">
                  <div class="caption">
                    <p> Graf spee</p>
                  </div>
                </a>
              </div>
            </div>
          
          </div>

          
          <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="#"> 
                  <img src="{% static 'appQuat/img/yamato.jfif' %}" id="yamato" onclick=""  width="304" height="236">
                  <div class="caption">
                    <p> Yamato</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="#">
                  <img src="{% static 'appQuat/img/prinz.jfif' %}"  id="eugen" onclick=""  width="304" height="236">
                  <div class="caption">
                    <p> Prinz eguen</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="#">
                  <img src="{% static 'appQuat/img/hood.jfif' %}"" id="hood" onclick="" width="304" height="236">
                  <div class="caption">
                    <p> HMS hood</p>
                  </div>
                </a>
              </div>
            </div>
            </div>
            
          </div>
        </div>

    </body>
    <footer class="footer">

      <i class="icon-facebook-sign icon-4x"></i>
      <i class="icon-twitter-sign icon-4x"></i>
      <i class="icon-instagram icon-4x"></i>
      <i class="icon-github icon-4x"></i>
      Integrantes: Beatriz Tapia, Mario Venegas, @Copyrigth Derechos reservados
    </footer>
</html>