<!DOCTYPE html>
<html>
  {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'appQuat/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'appQuat/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'appQuat/css/quat.css' %}">
        <script src="{% static 'appQuat/js/jquery.min.js' %}"></script>
        <script src="{% static 'appQuat/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'appQuat/js/jquery.validate.js' %}"></script>
    </head>
    <body>

        <!-- MENU -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Astillero Quat</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="/barcos">Barcos</a></li>
              </ul>
            </div>
        </nav>


        <div class="container">
            <h2></h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
          
                <div class="item active">
                  <img src="{% static 'appQuat/img/almirantelatorre.jpg' %}" alt="Almirante Latorre" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Almirante Latorre</h3>
                    <p></p>
                  </div>
                </div>
          
                <div class="item">
                  <img src="{% static 'appQuat/img/bismarck.jpeg' %}" alt="Bismarck" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Bismarck</h3>
                    <p></p>
                  </div>
                </div>
              
                <div class="item">
                  <img src="{% static 'appQuat/img/rivadavia.jpg' %}" alt="Rivadavia" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Rivadavia</h3>
                    <p></p>
                  </div>
                </div>
            
              </div>
          
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <p></p>
            <h4>Compra hoy tus pasajes para hacer un tour guiado por nuestro museo naval!</h4>
            <p>Contamos con 9 réplicas a escala real de distintos barcos de guerra históricos tales como el HMS Hood, Almirante Graf Spee, Prinz Eguen etc... Ofrecemos visitas guiadas por el barco que usted eliga, esto incluye ver la ciudadela, el armamento principal,
            armamento secundario, sala de maquinas, el puente y los camarotes. al igual que se dara una clase sobre la historia del buque elegido y muestra de la municion del barco.  
            </p>
            <p>
              Debido a la contigencia en la que vivimos a nivel mundial, el museo naval Quat se ecuentra cerrado hasta nuevo aviso, pero siempre que quiera puede visitar nuestra pagina 
              y darle a "Quienes somos" y "Galeria " para ver mas informacion sobre nuestro museo naval y ver mas informacion sobre cada uno de los barcos que poseemos.
            </p>
            <footer class="footer">

              <i class="icon-facebook-sign icon-4x"></i>
              <i class="icon-twitter-sign icon-4x"></i>
              <i class="icon-instagram icon-4x"></i>
              <i class="icon-github icon-4x"></i>
              Integrantes: Beatriz Tapia, Mario Venegas, @Copyrigth Derechos reservados
            </footer>
        </div>


    </body>
</html>